*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

/* Tema */
:root {
  color-scheme: light dark;
  --bg-color: light-dark(#f3f8f8, #050707);
  --primary-color: light-dark(#6366f1, #c1c2f0);
  --primary-color-darker: light-dark(#4849ab, #9c9cc0);
  --text-color: light-dark(#262626, #ededed);
  --text-btn-color:  light-dark(#ededed, #262626);
  --border-color: light-dark(#b5b9c288, #292929);
  /* color taxt error */
  --text-error-color:light-dark(#9c0c0c,rgb(216, 72, 72));
  /* color recuadro lista */
  --color-element-list: light-dark( #8191c9 , #2a3968);
  --color-element-list-darke: light-dark(#5c70ad,#374b96);
  
 
  --content-width:80rem;
}